body {
  margin: 0;
}

@media (max-width: 960px) {
  html {
    font-size: 10px;
  }
}

@media (min-width: 961px) {
  html {
    font-size: 24px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

@font-face {
  font-family: "Comic Sans MS";
  src: url(https://github.com/annmartyn/perspective/blob/main/2006.ttf);
}

.header {
  margin: 0;
  z-index: 0;
  background-image: url("https://wallpapertag.com/wallpaper/full/c/6/2/270882-full-size-chalkboard-background-2357x1571-windows-xp.jpg");
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 30px;
}

.header::after {
  content: '';
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
}

.header__menu {
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-family: 'Verdana';
  color: white;
  text-align: center;
}

.header-left {
  display: flex;
  flex-direction: column;
}

.eye__icon {
  height: 4rem;
  width: 5rem;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  fill: white;
}

.header__center {
  padding-right: 22%;
  font-size: 1.5rem;
}

.header__middle {
  display: flex;
  font-family: "Comic Sans MS";
  flex-direction: column;
  margin-top: 5rem;
  margin-bottom: 8rem;
}

@media (max-width: 960px) {
  .header__middle {
    margin-bottom: 12rem;
  }
}

.header__title {
  display: flex;
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 0;
  height: 150px;
}

@media (max-width: 960px) {
  .header__title {
    flex-direction: column;
    align-items: center;
  }
}

.header__title-school {
  display: flex;
  width: 40%;
  padding-right: 10%;
  margin: 0 auto;
  justify-content: space-between;
}

.header__title-perspective {
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
}

.header__motto {
  margin: 0 auto;
  font-family: 'Verdana';
  color: white;
  text-align: center;
}

.letter {
  font-size: 2.5rem;
  line-height: 3rem;
  font-family: 'Comic Sans MS';
  font-weight: 700;
}

.header__menu, .header__motto {
  font-size: 2rem;
}

.red {
  color: red;
}

.orange {
  color: orange;
}

.yellow {
  color: yellow;
}

.green {
  color: green;
}

.light__blue {
  color: DeepSkyBlue;
}

.blue {
  color: blue;
}

.purple {
  color: purple;
}

.pink {
  color: deeppink;
}

.header__bottom {
  display: flex;
}

.header__nko {
  font-family: Verdana;
  font-size: 1.5rem;
  color: white;
  padding-left: 1.5rem;
}

.header__socials {
  margin-top: 20px;
  padding-bottom: 20px;
  position: relative;
  padding-left: 20px;
  display: flex;
  align-items: center;
}

.socials-icon {
  fill: white;
  height: 2rem;
  width: 2rem;
}

.vk {
  height: 3rem;
  width: 3rem;
}

.menu__nav {
  display: flex;
  font-family: 'Comic Sans MS';
  align-items: center;
  font-size: 1rem;
  color: #0f7000;
  font-weight: 550;
  background-color: #fffeeb;
  margin-bottom: 0;
  width: 100%;
}

.nav__link {
  text-decoration: none;
  color: #0f7000;
}

.nav__item:hover {
  text-decoration: underline;
}

.nav__link:hover {
  text-decoration: underline;
}

.menu__nav .nav__link {
  text-decoration: none;
  color: #0f7000;
}

.nav__list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.nav__item {
  display: inline-block;
  text-align: center;
}

.article__title {
  font-family: 'Comic Sans MS';
  font-size: 1.5rem;
  line-height: 5rem;
  text-align: center;
  color: #fffeeb;
  background-color: #0f7000;
  margin: 0 auto;
  border: 1px solid #0f7000;
  height: 5rem;
}

.page__article {
  padding: 3%;
}

.welcome__article {
  font-family: 'Verdana';
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90vw;
  margin-bottom: 1rem;
  padding: 1rem;
}

.welcome__article:hover {
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
  border-radius: 1rem;
}

@media (max-width: 960px) {
  .welcome__article {
    flex-direction: column;
  }
}

.carousel-wrapper {
  position: relative;
  width: 25rem;
  height: 17rem;
  margin-left: 2%;
  margin-right: 2%;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

.carousel-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 25px 50px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.arrow{
  border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 12px;
}

.arrow-prev {
  left: -30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(135deg);
}

.arrow-next {
  right: -30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
  }

.light {
  color: white;
}

@media (max-width: 480px) {
    .arrow, .light .arrow {
      background-size: 10px;
      background-position: 10px 50%;
    }
}

[id^="item"] {
    display: none;
}

.item-1-1 {
  z-index: 2;
  opacity: 1;
  background: url('https://github.com/annmartyn/perspective/blob/main/img/1.jpg?raw=true');
  background-size: cover;
}

.item-1-2 {
  z-index: 2;
  opacity: 1;
  background: url('https://github.com/annmartyn/perspective/blob/main/img/6.jpg?raw=true');
  background-size: cover;
}

.item-11 {
  z-index: 2;
  opacity: 1;
  background: url('https://github.com/annmartyn/perspective/blob/main/img/11.jpg?raw=true');
  background-size: cover;
}

.item-2-1 {
  background: url('https://github.com/annmartyn/perspective/blob/main/img/2.jpg?raw=true');
  background-size: cover;
}

.item-2-2 {
  background: url('https://github.com/annmartyn/perspective/blob/main/img/7.jpg?raw=true');
  background-size: cover;
}

.item-12 {
  background: url('https://github.com/annmartyn/perspective/blob/main/img/12.jpg?raw=true');
  background-size: cover;
}

.item-3-1 {
  background: url('https://github.com/annmartyn/perspective/blob/main/img/3.jpg?raw=true');
  background-size: cover;
}

.item-3-2 {
  background: url('https://github.com/annmartyn/perspective/blob/main/img/8.jpg?raw=true');
  background-size: cover;
}

.item-13 {
  background: url('https://github.com/annmartyn/perspective/blob/main/img/13.jpg?raw=true');
  background-size: cover;
}

.item-4-1 {
  background: url('https://github.com/annmartyn/perspective/blob/main/img/4.jpg?raw=true');
  background-size: cover;
}

.item-4-2 {
  background: url('https://github.com/annmartyn/perspective/blob/main/img/9.jpg?raw=true');
  background-size: cover;
}

.item-14 {
  background: url('https://github.com/annmartyn/perspective/blob/main/img/14.jpg?raw=true');
  background-size: cover;
}

.item-5-1 {
  background: url('https://github.com/annmartyn/perspective/blob/main/img/5.jpg?raw=true');
  background-size: cover;
}

.item-5-2 {
  background: url('https://github.com/annmartyn/perspective/blob/main/img/10.jpg?raw=true');
  background-size: cover;
}

.item-15 {
  background: url('https://github.com/annmartyn/perspective/blob/main/img/15.jpg?raw=true');
  background-size: cover;
}

.item-16 {
  background: url('https://github.com/annmartyn/perspective/blob/main/img/16.jpg?raw=true');
  background-size: cover;
}

*:target ~ .item-1-1 {
    opacity: 0;
  }

*:target ~ .item-1-2 {
    opacity: 0;
  }

*:target ~ .item-11 {
    opacity: 0;
  }

#item-1-1:target ~ .item-1-1 {
    opacity: 1;
  }

#item-1-2:target ~ .item-1-2 {
    opacity: 1;
  }

#item-11:target ~ .item-11 {
    opacity: 1;
  }

#item-2-1:target ~ .item-2-1, #item-3-1:target ~ .item-3-1, #item-4-1:target ~ .item-4-1, #item-5-1:target ~ .item-5-1 {
    z-index: 3;
    opacity: 1;
  }

#item-2-2:target ~ .item-2-2, #item-3-2:target ~ .item-3-2, #item-4-2:target ~ .item-4-2, #item-5-2:target ~ .item-5-2 {
    z-index: 3;
    opacity: 1;
  }

#item-12:target ~ .item-12, #item-13:target ~ .item-13, #item-14:target ~ .item-14, #item-15:target ~ .item-15, #item-16:target ~ .item-16  {
    z-index: 3;
    opacity: 1;
  }

.item-41 {
  z-index: 2;
  opacity: 1;
  background: url('https://github.com/annmartyn/perspective/blob/main/img/u2n8G15nrtA.jpg?raw=true');
  background-size: cover;
}

.item-19 {
  z-index: 2;
  opacity: 1;
  background: url('https://github.com/annmartyn/perspective/blob/main/img/19.jpg?raw=true');
  background-size: cover;
}

.item-42 {
  background: url('https://github.com/annmartyn/perspective/blob/main/img/OBzhYeXkvjY.jpg?raw=true');
  background-size: cover;
}

.item-20 {
  background: url('https://github.com/annmartyn/perspective/blob/main/img/20.jpg?raw=true');
  background-size: cover;
}

.item-43 {
  background: url('https://github.com/annmartyn/perspective/blob/main/img/iveeaww6840.jpg?raw=true');
  background-size: cover;
}

.item-21 {
  background: url('https://github.com/annmartyn/perspective/blob/main/img/21.jpg?raw=true');
  background-size: cover;
}

.item-22 {
  background: url('https://github.com/annmartyn/perspective/blob/main/img/22.jpg?raw=true');
  background-size: cover;
}

.item-23 {
  background: url('https://github.com/annmartyn/perspective/blob/main/img/23.jpg?raw=true');
  background-size: cover;
}

.item-24 {
  background: url('https://github.com/annmartyn/perspective/blob/main/img/24.jpg?raw=true');
  background-size: cover;
}

.item-25 {
  background: url('https://github.com/annmartyn/perspective/blob/main/img/25.jpg?raw=true');
  background-size: cover;
}

.item-26 {
  background: url('https://github.com/annmartyn/perspective/blob/main/img/26.jpg?raw=true');
  background-size: cover;
}

.item-27 {
  background: url('https://github.com/annmartyn/perspective/blob/main/img/27.jpg?raw=true');
  background-size: cover;
}

*:target ~ .item-41 {
    opacity: 0;
  }

*:target ~ .item-19 {
    opacity: 0;
  }

#item-41:target ~ .item-41 {
    opacity: 1;
  }

#item-19:target ~ .item-19 {
    opacity: 1;
  }

#item-42:target ~ .item-42, #item-43:target ~ .item-43 {
    z-index: 3;
    opacity: 1;
  }

#item-20:target ~ .item-20, #item-21:target ~ .item-21, #item-22:target ~ .item-22, #item-23:target ~ .item-23, #item-24:target ~ .item-24, #item-25:target ~ .item-25, #item-26:target ~ .item-26, #item-27:target ~ .item-27 {
    z-index: 3;
    opacity: 1;
  }

.welcome__text {
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
  width: 40%;
  font-size: 1.1rem;
}

.welcome__text-bigger {
  font-size: 1.7rem;
  margin-bottom: 0.5rem;
}

@media (max-width: 960px) {
  .welcome__text {
    width: 100%;
  }
}

.welcome__speech {
  display: flex;
  justify-content: space-between;
  margin: 2% auto;
  padding: 2%;
  background: #fffeeb;
  border: 2px solid #f7f5bc;
  border-radius: 20px;
  font-size: 1rem;
  font-family: Verdana;
}

@media (max-width: 960px) {
  .welcome__speech {
    flex-direction: column;
  }
}

.welcome__photo-block {
  display: flex;
  flex-direction: column;
  padding-right: 3%;
  width: 70%;
  text-align: center;
}

.welcome__photo {
  background: url('https://github.com/annmartyn/perspective/blob/main/img/17.jpg?raw=true');
  background-position: center center;
  background-size: cover;
  height: 300px;
  width: 300px;
  border-radius: 200px;
  margin: 0 auto;
}

.speech__text {
  text-indent: 4rem;
  font-size: 1.4rem;
  font-family: Verdana;
}

.welcome__title {
  font-family: Verdana;
  font-size: 1.4rem;
  line-height: 1.5rem;
  font-weight: 700;
  margin: 10px auto;
}

.welcome__title-fio {
  font-family: Verdana;
  font-size: 1.2rem;
  margin: 0 auto;
}

.advantage__block {
  display: flex;
  flex-wrap: wrap;
  background-image: url('https://github.com/annmartyn/perspective/blob/main/img/noita-digital-MdmcpX2ofRk-unsplash.jpg?raw=true');
  background-size: cover;
}

.advantage__card {
  width: 25%;
  box-sizing: border-box;
}

.advantage__card-text {
  font-family: 'Comic Sans MS';
  font-size: 1.2rem;
  margin-left: 1rem;
  color: white;
}

.advantage__card:nth-child(4n) {
  margin-right: 0;
}

.contacts {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.contacts__map {
  positions: relative;
  overflow: hidden;
  border: none;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.contacts__map > iframe {
  width: 560px;
  height: 400px;
}

.contacts__info {
  font-family: Verdana;
  text-align: center;
  font-size: 1.2rem;
}

.video__block > iframe {
  width: 940px;
  height: 529px;
}

.license {
  display: block;
  width: 50%;
  margin: 2% auto;
}

.article__info {
  display: flex;
  flex-wrap: wrap;
  font-family: "Verdana";
}

.info__card {
  font-family: "Verdana";
  color: white;
  padding: 2%;
  box-sizing: border-box;
  background: linear-gradient(rgb(17, 153, 142), rgb(56, 239, 125));
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
 /* align: center;*/
  text-align: left;
  border-radius: 20px;
}

@media (min-width: 961px) {
  .info__card:nth-child(3n+2) {
    margin-left: 2%;
    margin-right: 2%;
  }

  .info__card {
    width: 31%;
    margin-bottom: 2%;
  }

  .info__card:nth-child(16) {
    width: 97%;
  }

  .article__info {
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 3%;
  }
  
  .advantage__card:nth-child(n+2) {
    border-left: 4px dashed white;
  }
  
  .advantage__card:nth-child(n) {
    border-bottom: 4px dashed white;
  }
  
  .advantage__card:nth-child(n+5) {
    border-bottom: none;
  }
  
  .advantage__card:nth-child(5) {
    border-left: none;
  }  

  h4.info__card-header {
    font-size: 21px;
  }
}

@media (max-width: 960px) {
  .welcome__photo-block {
    width: 100%;
  }
  
  .welcome__photo-block::after {
    content: "";
    display: block;
    background-color: #f7f5bc;
    height: 6px;
    width: 111px;
    margin: 10px auto;
  }
  
  .video__block > iframe {
    width: 310px;
    height: 140px;
  }
 
  .advantage__card {
    width: 48%;
  }
  
  .info__card {
    width: 60%;
    margin-bottom: 2%;
  }

  .article__info {
    padding-left: 18%;
    padding-right: 18%;
    padding-top: 3%;
  }
  
  .advantage__card:nth-child(2n) {
    border-left: 2px dashed white;
  }
  
  .advantage__card:nth-child(n) {
    border-bottom: 2px dashed white;
  }
  
  .advantage__card:nth-child(n+7) {
    border-bottom: none;
  }
  
  .license {
    width: 90%;
  }
  
  .contacts {
    flex-direction: column;
  }
  
  .contacts__map {
    margin-bottom: 15px;
  }
  
  .contacts__map > iframe {
    width: 280px;
    height: 200px;
  }
}

.info__link {
  color: white;
  line-height: 24px;
}
/*css из версии для слабовидящих*/
.change_color {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    font-size: 20px !important;
    align-self: end;
    justify-content: safe ;
    margin: auto;
    margin-left: 10px;
    grid-area: 1;
}

.black_white {
    grid-area: 1/2;
    background-color: #fff !important;
    color: #000 !important;
}

.white_black {
    grid-area: 1/3;
    background-color: #000 !important;
    color: #fff !important;
}

.blue_blue_light {
    grid-area: 1/4;
    background-color: #c3cde6 !important;
    color: #000047 !important;
}

.change_color_text {
    grid-area: 1/1;
    font-size: 16px !important;
    align-content: baseline;
    padding: 10px;
}

.change_font_size {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    margin: auto;
    margin-left: 10px;
}

.change_font_size_text {
    grid-area: 1/1;
    font-size: 16px !important;
    align-self: center;
    align-content: baseline;
    padding: 10px;
}

.go_back {
    grid-area: 3;
    color: #fff;
    text-decoration: none;
    display: block;
    border: 2px solid;
    padding: 5px;
    margin: 20px 10px;
    font-size: 16px;
}

.font_20 {
    font: 16px/1.4 'Georgia';
}

.font_28 {
    font: 18px/1.4 'Georgia';
}

.font_36 {
    font: 22px/1.4 'Georgia';
}
.header__ {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    height: 200px;
    background: black;
    color: #fff;
}
.header__ span {
    color: white;
    border: 1px solid white;
    margin-left: 25px;
    font-weight: bolder;
    padding: 3px 10px;
    cursor: pointer;
    text-align: center;
    margin: 8px auto;
    align-content: baseline;
}

.header__ {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
@media screen and (min-width: 420px) {

    .font_20 {
        font: 24px/1.4 'Georgia';
    }
    .font_28 {
        font: 28px/1.4 'Georgia';
    }
    .font_36 {
        font: 36px/1.4 'Georgia';
    }
}

@media screen and (min-width: 768px) {
    .header__ {
        display: grid;
        grid-template-rows: 1fr 1fr 0.5fr;
        height: 250px;
    }
    .font_20 {
        font: 24px/1.4 'Georgia';
    }
    .font_28 {
        font: 28px/1.4 'Georgia';
    }
    .font_36 {
        font: 36px/1.4 'Georgia';
    }
    .text {
        padding: 0 10% 0 20%;
    }
}

@media screen and (min-width: 1024px) {
    .header__ {
        display: grid;
        grid-template-columns: 1fr 1fr 0.7fr;
        height: 90px;
    }
}

@media screen and (min-width: 1300px) {
    .change_font_size_text,
    .change_color_text,
    .go_back {
        font-size: 20px !important;
    }
}

.icon-bottom {
  fill: black;
}

.item-29 {
  background: url('https://github.com/annmartyn/perspective/blob/main/img/29.jpg?raw=true');
  background-size: cover;
}

.item-30 {
  background: url('https://github.com/annmartyn/perspective/blob/main/img/30.jpg?raw=true');
  background-size: cover;
}

.item-31 {
  background: url('https://github.com/annmartyn/perspective/blob/main/img/31.jpg?raw=true');
  background-size: cover;
}

.item-32 {
  background: url('https://github.com/annmartyn/perspective/blob/main/img/32.jpg?raw=true');
  background-size: cover;
}

.item-33 {
  background: url('https://github.com/annmartyn/perspective/blob/main/img/33.jpg?raw=true');
  background-size: cover;
}

.item-34 {
  background: url('https://github.com/annmartyn/perspective/blob/main/img/34.jpg?raw=true');
  background-size: cover;
}

.item-28 {
  z-index: 2;
  opacity: 1;
  background: url('https://github.com/annmartyn/perspective/blob/main/img/28.jpg?raw=true');
  background-size: cover;
}

.video__block {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

*:target ~ .item-28 {
    opacity: 0;
  }

#item-28:target ~ .item-28 {
    opacity: 1;
  }


#item-29:target ~ .item-29, #item-30:target ~ .item-30, #item-31:target ~ .item-31, #item-32:target ~ .item-32, #item-33:target ~ .item-33, #item-34:target ~ .item-34 {
    z-index: 3;
    opacity: 1;
  }
